<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>Herman Wong</h1>
      <hr />
      <p>
        I am currently working as a manufacturing engineer in the semiconductor
        capital equipment industry. I am teaching myself web development with
        the goal of becoming a full stack web developer. I have taught myself a
        variety of programming languages but I am most familiar with React,
        Javascript and Python. I am looking for a Full Stack Developer position
        in California.
      </p>
    </div>
  </div>
</header>
