<section id="projects">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Projects</h2>
        <hr class="primary" />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <h3>Kanban Board</h3>
          <p class="text-muted mb-3">
            A Kanban Board web application built using React and
            React-Beautiful-Dnd.
          </p>
          <a href="/kanban" class="btn-link">View Kanban</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <h3>Select</h3>
          <p class="text-muted">
            A click and drag selection demo using Vanilla Javascript.
          </p>
          <a href="/select" class="btn-link">View Select</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <h3>Minesweeper</h3>
          <p class="text-muted">
            A minesweeper game built with Vanilla Javascript.
          </p>
          <a href="/minesweeper" class="btn-link">Play Minesweeper</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <h3>React Map</h3>
          <p class="text-muted">
            An application that lets users entered a title, description and
            image URL into a form style website. The owner of the posts can
            update or delete their own post. Users can only view posts in their
            own city. Built on MERN stack.
          </p>
          <a href="https://github.com/hwong0305/react-map" class="btn-link"
            >Code</a
          >
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <h3>Angular Calendar</h3>
          <p class="text-muted">
            A Web Application that allows users to enter calendar events. The
            application is built on Angular 6 with ExpressJS and PostgresSQL
          </p>
          <a
            href="https://github.com/hwong0305/angular-calendar"
            class="btn-link"
            >Code</a
          >
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <h3>Tab Tracker</h3>
          <p class="text-muted">
            This is built following Cody Seibert's Tutorial on building a Full
            Stack Web Application. This application allows users to store and
            edit their songs and guitar tabs.
          </p>
          <a href="https://github.com/hwong0305/tab-tracker" class="btn-link"
            >Code</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
